.search__movie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
}
.search__movie input{
    padding: 0.5rem 30rem;
    border: 2px solid #4fcca3;
    font-size: 1.3rem;
    font-family: 'Baloo Paaji 2', sans-serif;
    font-weight: 600;
}
.search__movie input::placeholder{
    text-align: center;
}
@media(max-width:768px){
    .search__movie input{
        padding: 0.6em 1.5em;
        border-radius: 10px;
    }
    .search__movie input:focus{
        text-align: center;
    }
}
@media(min-width:768px) and (max-width:991px){
    .search__movie input{
        padding: 0.6em 10em;
        border-radius: 10px;
    }
    .search__movie input:focus{
        text-align: center;
    }
}