.bold__group{
    font-weight: bold;
    font-style: italic;
}
.movies__cards__container{
    display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
}
@media (max-width: 768px) {
    .movies__cards__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .img-fluid{
        width:97%;
        padding-left: 2.5%;
    }
}
@media(min-width:768px) and (max-width:991px){
    .movies__cards__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}